---
- name: Update pacman cache
  pacman:
    update_cache: true

- name: Install common packages (Arch)
  pacman:
    name: "{{ common_packages + arch_packages_extra }}"
    state: present

- name: Install development packages (Arch)
  pacman:
    name: "{{ development_packages | default([]) }}"
    state: present
  when: "'development' in group_names"

- name: Install development GUI packages (Arch)
  pacman:
    name: "{{ dev_gui_packages | default([]) }}"
    state: present
  when: "'development' in group_names"

- name: Install development language packages (Arch)
  pacman:
    name: "{{ dev_lang_packages | default([]) }}"
    state: present
  when: "'development' in group_names"

- name: Install development utility packages (Arch)
  pacman:
    name: "{{ dev_utils_packages | default([]) }}"
    state: present
  when: "'development' in group_names"

